:root {

  --green-dark: rgb(38, 70, 83);

  --green: rgb(42, 157, 143);

  --yellow: rgb(233, 196, 106);

  --orange: rgb(244, 162, 97);

  --red: rgb(231, 111, 81);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--green-dark);
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, select {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/*
#264653 38, 70, 83
#2A9D8F 42, 157, 143
#E9C46A 233, 196, 106
#F4A261 244, 162, 97
#E76F51 231, 111, 81
*/
