body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  background-color: whitesmoke;
  font-family: sans-serif;
}

.loading {

}

.form-filters {
  align-items: center;
  background-image: url('https://1.bp.blogspot.com/-aJy_YYLV2Og/WN0EeiAr8pI/AAAAAAAAa90/bD3C9fbIAY00u1tYSwKXwVWuqUC02MKtwCLcB/s1600/20%2BGifs%2BStar%2BWars%2B1.gif');
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

.form-filters form {
  display: flex;
  flex-direction: column;
}

.form-filters span {
  color: white;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 600;
  margin: 10px 0 30px;
  text-align: center;
}

.filters {
  display: flex;
  font-size: larger;
  font-weight: 700;
}

.filter-removed {
  background-color: rgb(210, 210, 255);
  box-shadow: 4px 4px 1px rgb(181 181 255);
  display: flex;
  margin: 20px 10px;
  padding: 5px;
}

.filter-removed:hover {
  box-shadow: 4px 4px 10px rgb(181 181 255);
}

.filter-removed button{
  background-color: rgb(210, 210, 255);
  border: none;
  margin-left: 5px;
}

.filter-removed button:hover{
  background-color: brown;
}

.input-search {
  border: 1px solid rgb(181, 181, 255);
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgb(181 181 255);
  font-size: larger;
  font-weight: 600;
  height: 5vh;
  margin: 10px 0 20px;
  text-align: center;
}

.selects {
  background-color: rgb(210, 210, 255);
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgb(181 181 255);
  font-size: medium;
  font-weight: 600;
  height: 4vh;
  margin: 0 5px;
}

.input-Number {
  border: 1px solid rgb(181, 181, 255);
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgb(181 181 255);
  font-size: larger;
  font-weight: 600;
  height: 4vh;
  margin: 10px 0 20px;
  text-align: center;
}

.btn {
  background-color: rgb(210, 210, 255);
  border: none;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgb(181 181 255);
  font-size: medium;
  font-weight: 600;
  height: 4vh;
  margin: 0 5px;
  width: 100px;
}

.input-search:hover {
  box-shadow: 4px 4px 10px rgb(181, 181, 255);
}

.selects:hover {
  box-shadow: 4px 4px 10px rgb(181, 181, 255);
}

.input-Number:hover {
  box-shadow: 4px 4px 10px rgb(181, 181, 255);
}

.btn:hover {
  box-shadow: 4px 4px 10px rgb(181, 181, 255);
}

.thead {
  background-color: #c2ccd4;
  color: rgb(65, 65, 65);
  padding: 10px;
}

.thead th {
  font-size: large;
  padding: 10px 0;
}

.tbody {
  text-align: center;
}

.lines-table:hover {
  background-color: #272727;
  box-shadow: 2px 2px 10px rgb(39, 39, 39);
  color: white;
}

.orderned-inputs {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.radios {
  display: flex;
}

.radios-label span {
  color: white;
  font-size: x-large;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0;
}
