* {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}

div#filterInputs {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

div#filterInputs button {
  display: block;
}

input,
select {
  border-radius: 2px;
  margin: 0 10px auto 0px;
  padding: 5px 5px;
}

table {
  border-spacing: 0;
}

th {
  background-color: lightblue;
  border: 1px solid darkcyan;
}

td {
  border-bottom: 1px solid darkblue;
}

tr:nth-child(2n) {
  background-color: cadetblue;
}

body {
  background-color: bisque;
}

[data-testid='filter'] {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}
