.table-container {
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: rgb(70, 70, 70);
  box-shadow: 0 0 5px rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  font-weight: 700;
  justify-content: space-around;
  padding: 0.5em 0;
}

.table-body {
  align-items: center;
  background-color: rgba(70, 70, 70, 0.9);
  box-shadow: 0 0 5px rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 0.5em 1em;
}
