table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
}
