table, th, td {
  border: 1px solid black;
}

/* .table {
  border: 1px solid black;
  border-radius: 5px;
}

.thead {
  background-color: rgb(185, 185, 185);
}

.table-row {
  border: 1px solid black;
} */
