.table {
  border-collapse: collapse;
  color: white;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 12px;
  text-align: center;
}

th, td {
  border: 1px dotted white;
  padding: 0 15px;
}

.filter-input {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}
