.table {
  border-collapse: collapse;
  color: white;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 12px;
  text-align: center;
}

th, td {
  border: 1px dotted white;
  padding: 0 15px;
}

.filter-input {
  border: unset;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
  width: 190px;
}

.filter {
  display: flex;
  justify-content: center;
}

.value-input {
  border: unset;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 190px;
}

.button-filter {
  border: unset;
  border-radius: 10px;
  height: 30px;
  margin-top: 8px;
  width: 100px;
}

.filter-values {
  color: white;
  display: flex;
  font-family: Helvetica , Arial , sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

.filter-values button {
  border: unset;
  border-radius: 50%;
  height: 25px;
  margin-left: 10px;
  margin-top: 5px;
  width: 25px;
}
