@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins , sans-serif;
  font-size: 62.5%;
}
