.home-page {
  background-color: #dddce5;
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
}

/* .home-page div {
  height: 100%;
  width: 100%;
} */

/* .home-page div img {
  height: 100%;
  width: 100%;
} */
