.home-page {
  font-size: 1.6rem;
  height: 100vh;
  width: 100%;
}

.table {
  width: 100vw;
}

.table thead {
  background-color: #130c0e;
  color: #dddce5;
}

.table thead th {
  border: none;
}

.filters-container {
  background-color: #a9a2a4;
  height: 200px;
  margin: 15px auto;
  width: 50%;
}

