* {
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  background-color: #3f5d99;
  color: white;
  padding: 1vh;
  text-align: center;
}

.table-head {
  color: black;
}

.show-filters {
  align-items: center;
}

.hide-filters {
  display: none;
}